.container-fluid {
  padding:0;
 }

 /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
 @media screen and (max-width: 766px) {
   .display-3 {
     font-size: calc(1.5rem + 2vw);
   }
   h2 {
     font-size: calc(1.5rem + 1vw);
   }
 }
@media screen and (min-width: 767px) {
  .display-3 {
    font-size: calc(1.5rem + 3vw);
  }
  h2 {
    font-size: calc(1rem + 1.3vw);
  }
}

 .image {
    position: relative;
    width: 100%; /*for IE6 and earlier */
 }

 h2 {
    position: relative;
    color: white;
    margin: 0px;
    padding: 2px;
    text-align: center;
 }

 .caption {
   position: absolute;
   color: black;
   top: calc(80% - 10px);
   width: 100%;
   height: calc(20% + 10px);
   opacity: 0.6;
   border: 0px;
   background-color: black;
   display:flex;
   align-items: center;
   justify-content: center;
   filter: alpha(opacity=60); /* for IE8 and earlier */
 }
