.container-fluid {
  padding:0;
  margin:0;
 }
/* For lanscape phones/ small tablets only */
 @media screen and (max-width: 1000px) {
 .not-mobile {
   display:none;
 }
}
 /* Mobile only */
 @media screen and (max-width: 766px) {
   .logo {
     width: 200px;
     margin: auto;
   }
   h2 {
     font-size: calc(1.5rem + 1vw);
   }
 }
/* Desktop only */
@media screen and (min-width: 767px) {
  .logo {
    width: 300px;
    margin-left: calc(2em + 1vw);
  }
  h2 {
    font-size: calc(1rem + 1.3vw);
  }
}

 .image {
    position: relative;
    width: 100%; /*for IE6 and earlier */
 }

h1 {
   font-family: helvetica;
   white-space: pre-wrap;
   font-size: 2rem;
   font-style:bold;
 }

a.h3 {
  text-decoration: none!important;
  font-family: helvetica;
  font-size: calc(1.2rem + 1vw);
  color: var(--secondary);
  font-style:bolder;
}
a {
  color: var(--secondary);
}
a:hover {
   text-decoration: none!important;
   color: white;
}

h2 {
  position: relative;
  color: white;
  margin: 0px;
  padding: 2px;
  text-align: center;
}

pre {
 font-family: helvetica;
 white-space:pre-wrap;
}

strong {
  font-family: helvetica;
  white-space:pre-wrap;
  font-size: 1.5rem;
}

.caption {
   position: absolute;
   color: black;
   top: calc(80% - 10px);
   width: 100%;
   height: calc(20% + 10px);
   opacity: 0.6;
   filter: alpha(opacity=60); /* for IE8 and earlier */
   border: 0px;
   background-color: black;
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.85;
    filter: alpha(opacity=85); /* for IE8 and earlier */
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
 }
