<!DOCTYPE html>
<?php Header("Cache-Control: max-age=3600, must-revalidate"); ?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/img/favicon-1.png" />
    <!-- Custom_Bootstrap-CSS / jQuery / Popper JS / Bootstrap-JS / Local-CSS -->
    <link rel="stylesheet" href="/static/scripts/custom_bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/scripts/style.css">
  </head>


  <body class="container-fluid mw-100">
    <div class="header-bg bg-primary text-secondary w-100">
      <div class="container-fluid">
        <div class="row mw-100 mx-0 align-items-center">
          <div class="col-md-5">
            <div class="logo p-2"><a href="/"><img class="img-fluid" src="/static/img/CWC-logo-3.png"  alt="CWC-logo"></a></div>
          </div>
          <div class="col-md mh-100">
            <div class="container">
                <div class="d-flex justify-content-around">
                <div class="p-2 not-mobile"><p class="text-center"><a class="h3" href="/about/">About</a></p></div>
                <div class="p-2"><p class="text-center"><a class="h3" href="/recipes/">Recipes</a></p></div>
                <div class="p-2"><p class="text-center"><a class="h3" href="/experiments/">Experiments</a></p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="height:0.2em;border-width:0;background-color: var(--secondary); margin-top:0">
  </body>

  {% block content %}
  <head><title>Cook with Chemistry</title></head>
  <body class="container-fluid">
    <div class="row align-items-center mw-100 mx-3">
      <div class="col-md p-2">
        <a href="/recipes/espresso/">
          <div class="image"><img class="img-fluid rounded" src="/static/img/espresso-2.JPG"  alt="Espresso">
            <div class="caption"><h2>Espresso</h2></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 p-2">
        <a href="/recipes/cold_brew/">
          <div class="image"><img class="img-fluid rounded" src="/static/img/coldbrew-9.JPG"  alt="Cold Brew">
            <div class="caption"><h2>Cold Brew</h2></div>
          </div>
        </a>
      </div>
      <div class="col-md p-2">
        <a href="/recipes/avocado_toast/">
        <div class="image"><img class="img-fluid rounded" src="/static/img/avotoast-1.JPG"  alt="Avocado Toast">
          <div class="caption"><h2>Avocado Toast</h2></div>
        </div>
        </a>
      </div>
    </div>
  </body>
  {% endblock %}

  <body class = "container-fluid mw-100 mh-100">
    <div class = "footer d-flex flex-column">
      <p><br />
      <d class="p-3"> Copyright &copy; 2020 Cook with Chemistry </d> |
      <a class="p-3" href="/about/"> About </a> |
      <a class="p-3" href="/privacy_policy/"> Privacy Policy </a> |
      <a class="p-3" href="mailto:cookwithchemistryblog@gmail.com"> Contact </a> |
      </p>
    </div>
  </body>

</html>
