<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Cook with Chemistry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom_Bootstrap-CSS / jQuery / Popper JS / Bootstrap-JS / Local-CSS -->
    <link rel="stylesheet" href="/static/scripts/custom_bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/scripts/style.css">
  </head>

  <body class="container-fluid">
    <div class="bg-info text-white">
      <h1 class="display-3 pl-5 p-1">Cook with Chemistry</h1>
      <p class="font-weight-normal pl-5 pb-1">A food blog with a scientific twist</p>
    </div>

    <div class="row align-items-center ml-5 mr-5 p-2">
      <div class="col-md p-2"><img class="img-fluid rounded" src="/static/img/espresso-2.JPG"  alt="Espresso"></div>
      <div class="col-md-3 p-2"><img class="img-fluid rounded" src="/static/img/coldbrew-9.JPG"  alt="Cold Brew"></div>
      <div class="col-md p-2"><img class="img-fluid rounded" src="/static/img/avotoast-1.JPG"  alt="Avocado Toast"></div>
    </div>
  </body>

</html>
