{% extends "index.html" %}
{% block content %}
<head><title>Vanilla Sweet Cream Cold Brew Recipe</title></head>

<body>
<div class="article ml-5 mr-5">
<h1><strong>Vanilla Sweet Cream Cold Brew</strong></h1>

<p><i>The closest you can get to Starbucks at home.</i></p>

<pre>

<strong>The Story:</strong>
At the beginning of the 2020 quarantine Starbucks was closed for months,
leaving me missing the taste of my favorite item:
<b><i>The Vanilla Sweet Cream Cold Brew</i></b>

Desperate, and out of options, I decided I would try to make this recipe myself.
</pre>

<div class="row mw-100">
  <div class="col-6">
    <div class="image mw-50"><img class="img-fluid rounded" src="/static/img/coldbrew-0.JPG"  alt="Cold Brew"></div>
  </div>
  <div class="col"></div>
</div>

<pre>

In the beginning, I was making cold brew on a regular basis.

This took a few attempts to get to my liking...
But after controlling the coffee used, temperature, and brew time, I found a flavor that I really enjoyed.

This cold brew will be the base for the vanilla sweet cream cold brew.
</pre>
</div>
</body>

{% endblock %}
