{% extends "index.html" %}
{% block content %}
<head><title>Simple & Healthy Lemon Chicken</title></head>

<body class="container-fluid">
<div class="article row m-0 mw-100">
<div class="col-md-7 ml-3 mr-3">

<h1><b>Simple & Healthy Lemon Chicken</b></h1>
<i>The best 450 calorie dinner you'll have this week.</i>
<pre>

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/lemon_chicken/1.JPG"  alt="Simple and Healthy Lemon Chicken"></div>
This recipe is currently in development.
</pre>
<p>Cook with Chemistry is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>
</div>
<div class=col-sm"></div>
</div>
</body>
{% endblock %}
