{% extends "index.html" %}
{% block content %}
<head><title>Vanilla Sweet Cream Cold Brew Recipe</title></head>

<body class="container-fluid">
<div class="article row m-0 mw-100">
<div class="col-md-7 ml-3 mr-3">
<h1><b>Vanilla Sweet Cream Cold Brew</b></h1>

<p><i>The closest you can get to Starbucks at home.</i></p>

<pre>
<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/19.JPG"  alt="Cold Brew-0"></div>
At the beginning of the 2020 quarantine Starbucks was closed for months, leaving me missing the taste of my favorite item: <b><i>The Vanilla Sweet Cream Cold Brew</i></b>

Desperate, and out of options, I decided I would try to make this recipe myself. In the beginning, I was making cold brew on a regular basis. This took a few attempts to get to my liking. But after controlling the coffee used, temperature, and brew time, I found a flavor that I really enjoyed.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/3.JPG"  alt="Cold Brew-0"></div>

<strong>The Cold Brew:</strong>

Great cold brew coffee comes down to two major factors: the coffee and the extraction.

<ul><li><b>The Coffee: Medium to dark roast coffees are best.</b></li>
While cold brew is great at leaving behind the bitter taste that can be experienced from traditional brewing, it can also leave behind a lot of subtle flavors. These subtle flavors are what a great light roast coffee relies on. A dark roast, on the other hand, has all these robust chocolate, dark fruit, and nutty notes that are more pronounced due to the roasting process.

For this reason, I’ve found the dark roast and (some) medium roast coffees work great with cold brew, but the light roasts I’ve tried were really lacking in flavor. This dark, roasty flavor is exactly what Starbucks is playing on when they add their vanilla sweet cream (think: black and white cookies, Oreos, and hot fudge sundaes), so it’s important that this flavor is present. Besides that, use any coffee you enjoy, both single origin and blends lead to interesting results from my experience.

<div class="image"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/5.JPG"  alt="Cold Brew"></div>
<li><b>Temperature, coffee grind size, and brew time: Depends</b></li>
I am grouping these together as these factors are deeply intertwined. When I first started making cold brew coffee, I made sure to grind my own coffee to a coarse grind. This was based on what I read at the time and assumed it was the best way to do it.

This is probably the more traditional cold brew. Coarse ground coffee, sitting at room temperature for 24-48 hours, filtered, cooled, and served. This definitely works, but due to the amount of coffee needed for a cold brew (and the type of coffee grinder I use), this process took much longer than it should have and lead to mixed results (if the grind wasn’t perfect or the extraction was too long)

My new method (that I read from an amazon review), is to use medium ground coffee and let it sit in the fridge for 8-24 hours. The fridge was the missing piece for me. I’ve tried pre-ground coffee in the past, but it led to terribly bitter over-extractions at room temperature. In the fridge, the extraction is slowed down and has led to some of the most amazingly smooth cold brew I’ve ever experienced without being too light on flavor. If you’re a coffee purist, this probably isn’t the ideal route, as I imagine the cold temperature in the fridge will lead to some subdued notes from the coffee. But from my experience (and the fact that we’re adding a vanilla sweet cream to it) this will lead to great results. Plus, its super easy: Just take the pre-ground coffee, add filtered water on top, put it in the fridge while you’re asleep, and in the morning you will have delicious cold brew ready to go.

<div class="image"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/9.JPG"  alt="Cold Brew"></div></ul>
<strong>The Vanilla Sweet Cream:</strong>

I’ve seen several “Starbucks clone” recipes for the vanilla sweet cream out there, and I think a lot of them are missing out on the core of what makes the vanilla sweet cream at Starbucks so great. It’s a ratio between sweetness, creaminess, and vanilla flavor. There’s also an almost-magical texture to the cream, how it floats on top of the cold brew for a minute before falling and mixing with the rest of the coffee.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/15.JPG"  alt="Cold Brew-0"></div>
When reviewing the recipes out there, you’ll see a few ingredients popping up again and again:
<ul>
<li>Heavy cream</li>
<li>Whole milk</li>
<li>Half-and-half</li>
<li>Sweetened condensed milk</li>
<li>Vanilla syrup (combination of simple syrup and vanilla)</li></ul>
If you look at the Starbucks website, you will see three major ingredients in their vanilla sweet cream:
<ul>
<li>Cream</li>
<li>Milk</li>
<li>Vanilla syrup</li>
<li>…along with some preservatives</li></ul>
However, making and storing vanilla syrup makes this a two-step process. And vanilla syrup (when its not store bought and contains preservatives) has a shelf-life. I thought it would be easier to get the ratio of creaminess to sweetness from things like milk, cream, and condensed milk, and then add vanilla syrup to taste.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/35.JPG"  alt="Cold Brew-0"></div>
But difficulty arose when trying to get these ratios as close as possible to Starbucks’ version. The answer, I determined, was to use the nutrition facts and an excel spreadsheet.

<div class="image mw-100"><img class="img-fluid" src="/static/img/sweet_cream_cold_brew/40.png" id="table" alt="Cold Brew Nutrition"></div>
By taking each of the ingredients and their nutrition facts, and adjusting their ratios, I found I could reverse engineer the nutrition facts from my own ingredients and hopefully get as close as possible to the version I know and love.

<div class="image mw-100"><img class="img-fluid" src="/static/img/sweet_cream_cold_brew/41.png" id="table"  alt="Cold Brew Results"></div>
The results, as seen above, was a relatively simple ratio of heavy cream, milk, and sugar. However, the sugar will have to be dissolved into this mixture to create a smooth texture, which will only help create a texture closer to the original version.

<strong>Putting it All Together:</strong>
With the recipes for the cold brew and vanilla sweet cream decided, all we need to do is put it together. I suggest making both the cold brew and sweet cream the night before, as the creamy texture is enhanced when it is cooled in the refrigerator.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/37.JPG"  alt="Cold Brew-0"></div>

To make the vanilla sweet cream we just need to combine everything except the vanilla in a saucepan and heat on high until it all comes to a boil. Let it cool slightly before transferring to a jar, then add the vanilla extract. Adding the vanilla last ensures that we don’t lose all that great vanilla aromas to the room. I like to use the jars that can vacuum seal, like a mason jar or an old salsa jar that’s been thoroughly washed. If vacuum sealed, this should stay fresh for months, after opening, I would recommend using it within 2-4 weeks, stored in the fridge (based on the shelf life of heavy cream and sweetened condensed milk).

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/13.JPG"  alt="Cold Brew-0"></div>
Then simply drizzle the sweet cream on top of the cold brew to create the effect.
The recipe below is enough for <b>TEN 16-oz (Grande)</b> vanilla sweet cream cold brews. You should use a ratio of 2 TBSP of vanilla sweet cream to 16 oz of combined cold brew & ice to get as close as possible to Starbucks’ ratio. But since its homemade, make it to your liking! Add more or less to match your desired level of cream and sweetness.

<div class="image mw-100"><img class="img-fluid rounded" src="/static/img/sweet_cream_cold_brew/23b.JPG"  alt="Cold Brew-0"></div>
<strong>Recipe:</strong>

<b>Vanilla Sweet Cream (makes 5-10 Sweet Cream Cold Brews):</b>
½ cup heavy cream
½ cup sweetened condensed milk
1 TBSP + 1 tsp. sugar
2 TBSP vanilla extract

<b>Cold brew (makes 2-3 Cold Brews):</b>
4 oz coffee (medium or dark roast works best)
12 oz filtered cold water

<b>Directions:</b>
<ol>
<li>Prepare the cold brew by combining the coffee with the cold filtered water. Allow to brew in the fridge for 12-24 hours.</li>
<li>Prepare the vanilla sweet cream by combining everything except the vanilla extract in a saucepan over medium-high heat.</li>
<li>Stir often until the mixture just reaches a boil; remove from heat and allow to cool.</li>
<li>Transfer to a sealed container, cool in the fridge for at least 1 hour (use within 3-4 weeks).</li>
<li>Once cold brew is ready, fill 16oz glass with ice, add cold brew to the top, leaving a couple inches to add the vanilla sweet cream.</li>
<li>Drizzle 2 TBSP vanilla sweet cream on top of the cold brew, use a spoon to float the cream on top of the ice if desired.</li>
<li>Stir, and enjoy!</li></ol></pre>
</div>
<div class=col-sm"></div>
</div>
</body>

{% endblock %}
